:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-card{
    width: 17.5rem;
    height: 25rem;
    padding: 1rem;
    margin: auto;
    box-shadow: 2px 2px 200px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.close-button{
    width: 1rem;
    align-self: flex-end;
    color: rgba(211, 211, 211, 0.25);
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 10rem;
}

.profile-info h2{
    margin-bottom: 0;
}

.profile-info p{
    color: gray;
    margin-top: 0.5rem;
}

.profile-pic{
    width: 100px;
    border-radius: 50%;
}

.more-button{
    color: white;
    background-color: rgb(77, 77, 77);
    border-radius: 3rem;
    width: 80%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}